.btn {
    border-radius: 15px;
    padding: 7px 20px;
    }

.transparente {

    background-color: transparent;
    border: 1px solid #ccc;
}

.blue {

background-color: #0089f4;
color: white;

}

.black {

background-color: #364049;
color: white;


}