<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
</head>

<body>
    <header>
        <nav>
            <ul class="navbar-pages">
                <li class="navbar-pages__link navbar-pages__link--active"><a href="#">FEATURES</a></li>
                <li class="navbar-pages__link navbar-pages__link--active"><a href="#">PRICING</a></li>
                <li class="navbar-pages__link navbar-pages__link--active"><a href="#">ABOUT US</a></li>
                <li class="navbar-pages__link navbar-pages__link--active"><a href="#">BLOG</a></li>
                <li class="navbar-pages__link navbar-pages__link--active"><a href="#">CONTACT US</a></li>
            </ul>

        </nav>

    </header>
    <main>

    </main>
    <footer>

    </footer>

</body>

</html>