*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Mukta Malar', sans-serif;
}

.feature{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 0;
}

/*Blocos*/
.feature--reverse{
    flex-direction: row-reverse;
}

.feature--white{
    background-color: #fff;
}

.feature--lighter-gray{
    background-color: #eef6fb;
}

.feature--darker-gray{
    background-color: #e5eef5;
}

.feature--div{
    width: 40%;
    margin: 0;
    
}


/*Elementos*/

.feature__title{
    font-size: 2rem;
    margin: 0;
}

.feature__text{
    color: #a2aebb;
    margin: 0 0 1rem;
}


.feature__icon{
    align-self: flex-end;

}

.link{
    color: #499ef7;
    text-decoration: none;
}

.button{
    box-sizing: border-box;
    display: inline-block;
    padding: .5rem 1.5rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.button--primary{
    color: white;
    background: #499ef7;
}

.feature__list{
    display: flex;
    flex-direction: row;
    list-style: none;
}


/*Imagem*/

.notebook{
    width: 40%;
    height: 40%;
    margin: 0 10% 0 0;
    padding: 5px;
}

.social-medias{
    width: 40%;
    height: 40%;
    margin: 0 15% 0 0;
    padding: 5px;
}